body {
  margin: 0;
}

.loading {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-30%);
  transform: translateX(-50%);
  background-color: rgb(124, 231, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.navbar {
  margin-top: -10;
  background-color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 100;
}

.menu-logo,
.youtube-logo {
  height: 25px;
  margin-left: 30px;
}

.navbar-left {
  flex-shrink: 0;
}

.navbar-middle {
  display: flex;
  align-items: center;
}

.search-box {
  flex: 1;
  padding-left: 9px;
  height: 38px;

  width: 450px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(126, 126, 126);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.search-box::placeholder {
  font-size: 1rem;
}

.search-button {
  height: 42px;
}

.search-icon {
  height: 20px;
  margin-top: 3px;
}

.voice-search-button {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  border: none;
  margin-left: 12px;
}

.voice-search-button:hover {
  background-color: rgb(207, 75, 75);
}

.voice-search-icon {
  height: 25px;
  margin-top: 3px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.upload-video {
  height: 18px;
}

.noti-tag {
  position: relative;
}
.noti-icon {
  height: 35px;
}

.noti-number {
  position: absolute;
  top: 4px;
  right: 1px;
  background-color: rgb(161, 0, 0);
  color: white;
  width: 10px;
  height: 15px;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.current-user {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-right: 50px;
}

.search-button,
.voice-search-button,
.upload-field,
.noti-tag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .toolkit,
.voice-search-button .toolkit,
.upload-field .toolkit,
.noti-tag .toolkit {
  position: absolute;
  bottom: -33px;

  background-color: rgb(227, 227, 227);
  padding: 5px 10px 5px 10px;
  opacity: 0;
  border-radius: 3px;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .toolkit,
.voice-search-button:hover .toolkit,
.upload-field:hover .toolkit,
.noti-tag:hover .toolkit {
  opacity: 1;
  transition: opacity 0.5s;
}

.content-container {
  display: flex;
}

.sidebar {
  margin-top: 70px;
  width: 90px;

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sidebar-logo {
  height: 35px;
  margin-bottom: 10px;
}

.sidebar-link {
  width: 40px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 6px;
}

.thumbnail {
  width: 100%;
}

.thumbnail:hover {
  border-radius: 12px;
  transition: 1s;
}

.video-title {
  font-weight: bold;
}
.channel-profile {
  margin-top: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.video-detail {
  display: grid;
  grid-template-columns: 55px 1fr;
}

.video-info {
  color: black;
}

.preview-section {
  color: #fff;
  margin-left: 90px;
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 40px;
  padding: 30px;
}

@media screen and (max-width: 750px) {
  .preview-section {
    grid-template-columns: 1fr 1fr;
  }
  .search-box {
    display: none;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .preview-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .search-box {
    width: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .preview-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
